<% if @client.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@client.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>

    <ul>
    <% @client.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for(@client) do |f| %>
  <div class="form-group">
    <label>First Name: </label> <%= f.text_field :first_name %><br>
  </div>

  <div class="form-group">
    <label>Last Name: </label> <%= f.text_field :last_name %><br>
  </div>

  <div class="form-group">
    <label>E-mail: </label> <%= f.text_field :email %><br>
  </div>

  <div class="form-group">
    <label>Phone Number (10 digits only): </label>
    <%= f.text_field :phone_number %><br>
  </div>


  <%= f.submit class: "btn btn-primary" %>

<% end %>
