<h3>Edit Client Information</h3>

<%= form_for(@client) do |f| %>
  <label>Name: </label> <br>
  <%= f.text_field :name %><br>

  <label>E-mail: </label> <br>
  <%= f.text_field :email %><br>

  <label>Phone Number: </label> <br>
  <%= f.text_field :phone_number %><br>

  <%= f.submit %>

<% end %>
