<h3>New Client Entry Form</h3>

<%= form_for(@client) do |f| %>
  <label>First Name: </label> <br>
  <%= f.text_field :first_name %><br>

  <label>Last Name: </label> <br>
  <%= f.text_field :last_name %><br>

  <label>E-mail: </label> <br>
  <%= f.text_field :email %><br>

  <label>Phone Number: </label> <br>
  <%= f.text_field :phone_number %><br>

  <%= f.submit %>

<% end %>
