<% if @facial.errors.any? %>
  <div class="alert alert-danger errors">
    <h2>
      <%= pluralize(@facial.errors.count, "error") %>
      occurred:
    </h2>

    <ul>
    <% @facial.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@facial) do |f| %>

  <label>Client Name: </label><%= f.collection_select :client_id, Client.all, :id, :full_name %><br>
  <br />
  <label>Esthetician E-mail: </label><%= @esthetician.email%><br>
  <br />

  <label>Date:</label> <br>
  <%= f.date_field :facial_date %><br>
  <br />

  <label>Time:</label> <br>
  <%= f.time_field :facial_time %><br>

  <%= f.hidden_field :esthetician_id %>

  <h3>Concerns:</h3>

  <label>Acne:</label><%= f.check_box :acne %><br>
  <label>Cystic Acne:</label><%= f.check_box :cystic_acne %><br>
  <label>Deep Pitted Scars:</label><%= f.check_box :deep_pitted_scars %><br>
  <label>Dryness:</label><%= f.check_box :dryness %><br>
  <label>Dullness:</label><%= f.check_box :dullness %><br>
  <label>Flakiness:</label><%= f.check_box :flakiness %><br>
  <label>Flat Dark Scars:</label><%= f.check_box :flat_dark_scars %><br>
  <label>Redness:</label><%= f.check_box :redness %><br>
  <label>Wrinkles:</label><%= f.check_box :wrinkles %><br><br />
  <label>Other:</label><%= f.text_area :other , class: "form-control"%><br>


  <%= f.submit class: "btn btn-primary"%>

  <% end %>
