<h1>Appointment Information</h1>

  <label>Date: </label><%=@facial.facial_date.strftime("%A, %b %d, %Y")%><br>
  <label>Time: </label><%=@facial.facial_time.strftime("%I:%M %p")%><br>

  <h2>Client's Skincare Concerns</h2>

  <p>
    <%if @facial.acne == true%>
      <%="Acne"%>
    <%end%>
  </p>

  <p>
    <%if @facial.cystic_acne == true%>
      <%="Cystic Acne"%>
    <%end%>
  </p>

  <p>
    <%if @facial.deep_pitted_scars == true%>
      <%="Deep Pitted Scars"%>
    <%end%>
  </p>

  <p>
    <%if @facial.dryness == true%>
      <%="Dryness"%>
    <%end%>
  </p>

  <p>
    <%if @facial.dullness == true%>
      <%="Dullness"%>
    <%end%>
  </p>

  <p>
    <%if @facial.flakiness == true%>
      <%="Flakiness"%>
    <%end%>
  </p>

  <p>
    <%if @facial.flat_dark_scars == true%>
      <%="Flat Dark Scars"%>
    <%end%>
  </p>

  <p>
    <%if @facial.redness == true%>
      <%="Redness"%>
    <%end%>
  </p>

  <p>
    <%if @facial.wrinkles == true%>
      <%="Wrinkles"%>
    <%end%>
  </p>

  <p>
    <%if @facial.other%>
      <p>Other Comments: <%=@facial.other%>  </p>
    <%end%>
  </p>

  <h3> Client Information </h3>

  <p><strong>Client Name: </strong> <%=link_to @facial.client.full_name, client_path(@facial.client) if @facial.client %></p>
        <ul>
          <li>Email: <%=@facial.client.email%>  </li>
          <li>Phone Number: <%=@facial.client.phone_number%></li>
        </ul>

  <h3>Esthetician Information: </h3>
      <p>Email: <%=link_to @facial.esthetician.email, esthetician_path(@facial.esthetician) if @facial.esthetician %>  </p>
  </p>
