
<h1>Facial Show Page</h1>

<%=@facials.each do |facial|%>
  <ul>
    <li><%=facial.facial_date%></li>
    <li><%=facial.facial_time%></li>
    <li><%=facial.acne%></li>
    <li><%=facial.cystic_acne%></li>
    <li><%=facial.deep_pitted_scars%></li>
    <li><%=facial.dryness%></li>
    <li><%=facial.dullness%></li>
    <li><%=facial.flakiness%></li>
    <li><%=facial.flat_dark_scars%></li>
    <li><%=facial.redness%></li>
    <li><%=facial.wrinkles%></li>
    <li><%=facial.other%></li>
    <li><%=facial.client_id%></li>
    <li><%=facial.esthetician_id%></li>
  </ul>
<%end%> 
