<!DOCTYPE html>
<html>
  <head>
    <title>TheFacialManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <head/>


  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if esthetician_signed_in? %>
      <div class="topnav">
        <%= link_to 'All Facial Appointments', facials_path %>
        <%= link_to 'Your Profile', edit_esthetician_registration_path %>
        <%= link_to 'Log out', destroy_esthetician_session_path, method: :delete %>
      </div>
    <% else %>
      <div class="topnav">
        <%= link_to 'Log In', new_esthetician_session_path %>
        <%= link_to 'Sign Up', new_esthetician_registration_path %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
