<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TheFacialManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  <head/>


  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <header class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <%= link_to "Welcome to the Facial Appointment Manager", root_path, class: "navbar-brand" %>
          <div>

          <ul class="nav navbar-nav navbar-right">
            <% if esthetician_signed_in? %>
              <li><%= link_to 'All Clients', clients_path %></li>
              <li><%= link_to 'New Client', new_client_path%></li>
              <li><%= link_to 'All Facials', facials_path %></li>
              <li><%= link_to 'Your Facials', esthetician_facials_path(@esthetician) %>
              <li><%= link_to "New Facial Appointment", new_esthetician_facial_path(@esthetician) %></li>
              <li><%= link_to 'Your Profile', edit_esthetician_registration_path %></li>
              <li><%= link_to 'Log out', destroy_esthetician_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Log In', new_esthetician_session_path %></li>
              <li><%= link_to 'Sign Up', new_esthetician_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <section class="container">
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash alert <%= alert_class(key) %>"><%= value %></div>
        <% end %>
      </div>


    <%= yield %>
  </body>
</html>
